
body {
    background-color: #ffc0cb; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: papyrus, papyrus, cursive;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 400px; 
    text-align: center;
}


.title {
    font-size: 2rem;
    margin-bottom: 20px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}


label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.1rem;
}
.input {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}
.login-button {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

